<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<system.serviceModel>
		<services>
			<service name="Service.SmartGridService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002"/>
					</baseAddresses>
				</host>
				<endpoint
					address="ServiceSmartGrid"
					binding="netTcpBinding"
					contract="Common.ISmartGridService"/>
			</service>
		</services>

	</system.serviceModel>
</configuration>